<header>
    <div id="logo_container">
            <img id="logo_image" src="/themes/fixmycustom/logo.png">
            <!--<div id="logo_hamburger_container">-->
                <div id="logo_hamburger">
                    <div></div> <div></div> <div></div>
                </div>
            <!--</div>-->
    </div>
</header>

<article id="page_container">

        <h1 id="page_head">FixMyBerlin</h2>


    <!--
      <div class="">
        {% if page.primary_menu %}
          {{ page.primary_menu }}
        {% endif %}
      </div>
    -->




        {{ page.content }}


</article>
