
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

b,strong {
    font-weight: bold;
}

i,em {
    font-style: italic;
}


/* schriften ——————————————————————————————————————————————————————————————————————————————————————————— */


/* body ————————————————————————————————————————————————————————————————————————————————————————————————— */

body {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    cursor: default;
    -webkit-user-select: text; 
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select: text;
    line-height: 1.5;
    font-weight: 300;
    min-height:100%;
    height: 100%;
    width: 100%;
    
  /*  font-family: 'Roboto Slab', serif;*/
    
}

::selection {
    background: rgb(0,0,0);
    color:white;
}

::-moz-selection {
    background: rgb(0,0,0);
    color:white;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* navigation ————————————————————————————————————————————————————————————————————————————————————————————————— */

#logo_container {
    position: fixed;
    left: 0px;
    width: 100%;
   /* right:0px;*/
   /* width:100%;*/
    height: auto;
    overflow: hidden;
    z-index: 10;
    
    height: 174px;
    
    pointer-events: none;
}

#logo_image {
    position: relative;
    float: left;
  /*  width: 90px;*/
    height: 94px;
    margin: 40px;
    margin-right: 20px;
}

/*
#logo_hamburger_container {
    position: relative;
    float: left;
    width:auto;
    height: 100%;
    overflow: hidden;
    background-color: red;
}*/

#logo_hamburger {
    position: relative;
    width:25px;
    height: 20px;
    overflow: hidden;
    top:calc( 50% - 10px );
    margin-right: 40px;
}

#logo_hamburger div {
    position: absolute;
    width:100%;
    height: 3px;
    background-color: #F8AE00;
    top: calc( 50% - 1.5px );
}

#logo_hamburger div:first-child {
    top: 0px;
}

#logo_hamburger div:last-child {
    top: auto;
    bottom: 0px;
}

/* fullscreen navigation ———————————————————————————————————————————————————————————————————————————————— */

.page-node-type-project #logo_hamburger div {
    background-color: white;
}

.page-node-type-project #logo_container {
    background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0));
}


/* page ————————————————————————————————————————————————————————————————————————————————————————————————— */

#page_container {
    position: relative;
    width:100%;
    height: auto;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
}

#page_head {
    position: relative;
    width:100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 32px;
    padding-bottom: 33px;
    color: #F8AE00;
    z-index: 10;
    pointer-events: none;
}

.page-node-type-project #page_head {
    color: white;
    display: none;
}

#page_title {
    position: relative;
    width:100%;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    /*padding-top: 21px;
    padding-bottom: 24px;*/
    padding-top: 1px;
    padding-bottom: 4px;
}

#page_content {
    position: relative;
    width:100%;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    max-width: 900px;
    left:0px;
    right:0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 34px;
    padding-bottom: 37px;
}

#page_content p {
    padding-bottom: 1.5em;
}

#page_content p:last-child {
    padding-bottom: 0px;
}

/* map ————————————————————————————————————————————————————————————————————————————————————————————————— */

#map_container {
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    z-index: 5;
}

#map {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
}

#map_overlay_container {
    position: fixed;
    right:0px;
    top:0px;
    height: 100%;
    width:40%;
    background-color: white;
    z-index: 20;
    box-shadow: 0px 0px 60px rgba(0,0,0,0.5);
    font-size: 14px;
    transition: transform 0.3s;
}

.map_overlay_container_hidden {
    transform: translate3d(calc( 100% + 40px ),0px,0);
}

#map_overlay_triangle {
    position: absolute;
    top:calc( 50% - 20px );
    left: -40px;
        
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
      
    border-right: 40px solid white;
      
}

#map_overlay_head {
    position: relative;
    width:100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(245,245,245);
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#map_overlay_head_label {
    position: relative;
    width:100%;
    padding: 20px;
    padding-top: 4px;
    padding-bottom: 5px;
    box-sizing: border-box;
    color:rgb(127,127,127);
}

#map_overlay_head_label span:not(:last-child) {
    box-shadow: 1px 0px 0px rgba(0,0,0,0.1);
    padding-right: 15px;
    margin-right: 12px;
}

#map_overlay_head_title {
    font-size: 24px;
    width:100%;
    padding: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-sizing: border-box;
}

#map_overlay_gallery {
    position: relative;
    width:100%;
    height: 220px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

#map_overlay_gallery li {
    position: relative;
    display: inline-block;
    width:80%;
    height: calc( 100% - 20px );
    background-color: rgb(245,245,245);
    margin: 0px;
    padding: 0px;
    margin: 10px;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

#map_overlay_data {
    position: relative;
    width:100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.map_overlay_title {
    position: relative;
    width:100%;
    height: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.map_overlay_content {
    position: relative;
    width:100%;
    height: auto;
    padding-top: 4px;
    padding-bottom: 5px;
    color: rgb(127,127,127);
}

.map_overlay_content a {
    box-shadow: 0px 1px 0px rgb(127,127,127);
    font-weight: 500;
    transition: box-shadow 0.2s, color 0.2s;
    cursor: pointer;
}

.map_overlay_content a:hover {
    color: black;
    box-shadow: 0px 1px 0px black;
}

.map_overlay_content .map_overlay_content_fact:not(:last-child) {
    box-shadow: 1px 0px 0px rgba(0,0,0,0.1);
    padding-right: 15px;
    margin-right: 12px;
}

.map_overlay_content .map_overlay_content_fact span {
    font-weight: bold;
}

.map_overlay_divide {
    position: relative;
    width:100%;
    height: 1px;
    overflow: hidden;    
    margin-top: 10px;
    margin-bottom: 10px;
}

.map_overlay_divide div:first-child {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    border-top: 5px dotted rgba(0,0,0,0.2);
}

.map_overlay_divide div:last-child {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1));
}

.map_overlay_bignumber {
    position: relative;
    width:100%;
    text-align: center;
    color: #F8AE00;
    font-size: 45px;
    font-weight: bold;
}

.map_overlay_bignumber_label {
    position: relative;
    width:100%;
    text-align: center;
    font-weight: bold;
}